::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #cfcfcc;
}
::-webkit-scrollbar-thumb {
  background: #a5a5a5;
}
* {
  text-decoration: none;
}

@font-face {
  font-family: "Ember";
  src: url("./fonts/AmazonEmber_Rg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EmberCondensed";
  src: url("./fonts/AmazonEmberCdRC_Rg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: "EmberCondensed";
  overflow-x: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 56%;
  transform: translateY(-50%);
  z-index: 10;
  pointer-events: auto;
  background: rgba(0, 0, 0, 0.6);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 18px !important;
  font-weight: bold;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: rgba(0, 0, 0, 0.8);
}
